*{
    box-sizing: border-box;
   
    
}

a{
    text-decoration: none;
}
a:visited {
    color: #DFAAAE; 
  }

a:active {
    color: black; 
  }

a:link{
    color: #DFAAAE; 
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.collections {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    padding-right: 18rem; 
  }
  

  .collections h1 {
    
    text-align: left;
    width: auto; 
    text-align: right; 
    color: black;
    font-size: 60px;
    font-family: DotGothic16, sans-serif;
    font-weight: 400;
    margin-bottom: 10px; 
    
  }
 
  .collections .intro {
    width: auto;
    color: black;
    font-size: 16px;
    font-family: Georgia, serif;
    font-weight: 400;
    text-align: left; 
  }
  
/* h1{
    width: 399px; 
    height: 81px; 
    left: 4rem;
    text-align: right; 
    align-items: end;
    color: black; 
    font-size: 60px; 
    font-family: DotGothic16; 
    font-weight: 400; 
   
}
.intro {
    
    margin: 20px;
    width: 399px; 
    height: 64px; 
    color: black; 
    font-size: 12px; 
    font-family: Georgia; 
    font-weight: 400; 
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    margin: 20px;
    padding-right: 20px;
    
} */

.marquee {
    white-space: nowrap; 
    overflow: hidden; 
    box-sizing: border-box;
    width: 100%; 
    font-family: Georgia;
}


.marquee span {
    display: inline-block;
    padding-left: 100%; 
    animation: marquee 70s linear infinite; 
}

/* Marquee Animation */
@keyframes marquee {
    0% {
        transform: translateX(0%); 
    }
    100% {
        transform: translateX(-100%); 
    }
}
/* .top-bar {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    background-color: white;
} */
.nav-container {
    /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
    padding: 71px 20px;
    padding-left: 65px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home{
    font-family: Georgia;
    color: #DFAAAE; 
    font-size: 20px;
    font-weight: 400; 
}
.home:hover{
    font-style: italic;
}
.line-1{
    width: 100vw; 
    height: 0px; 
    left: 0px; 
    top: 87px; 
    position: absolute; 
    border: 1px black solid;
   
}
.line-2{
    width: 100vw; 
    height: 0px; 
    left: 0px; 
    top: 114px; 
    position: absolute; 
    border: 1px black solid;
    
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
}
.image img {
    border: 0.5px black solid;
    border-radius: 7px;
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    
}
.wide {
    grid-column: span 2;
    max-height:  400px;
    object-fit: contain;
}
.text {
    background: white;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    border-radius: 7px;
    border: 0.5px black solid;
    font-family: Georgia;
}

.hover-blur {
    position: relative;
    display: inline-block;
    width: 100%; 
  }
  
  .hover-blur img {
    width: 100%;
    height: auto;
    border-radius: 7px;
    transition: filter 0.3s ease; 
  }
  
 
  .hover-blur:hover img {
    filter: blur(5px); 
    cursor: pointer;
  }
  
 
  .overlay-text {
    position: absolute;
    top: 50%; /* center */
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: Georgia, serif;
    text-align: left;
    background-color: rgb(223, 170, 174, 0.8);  /* semi-transparent bg */
    padding: 10px;
    border-radius: 5px;
    opacity: 0; /* hidden pehle */
    transition: opacity 0.3s ease; 
    cursor: pointer;
  }

  .hover-blur:hover .overlay-text {
    opacity: 1; /* text visible on hover */
    cursor: pointer;
  }
  
footer {
    background: #DFAAAE; 
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Georgia;
}
.footer-links a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    padding-left: 48px;
    font-size: 20px;
}
.footer-links a:hover{
    font-style: italic;
}
.star {
    font-size: 35px;
}

.horizontal-scroll {
    display: flex; 
    overflow-x: auto; 
    scroll-behavior: smooth; 
    gap: 10px; 
    padding: 20px; 
  }
  
  
  .horizontal-scroll::-webkit-scrollbar {
    height: 8px; 
  }
  
  .horizontal-scroll::-webkit-scrollbar-thumb {
    background-color: #DFAAAE; 
    border-radius: 10px;
  }
  
  .horizontal-scroll::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  
  .horizontal-scroll .wide img {
    width: auto;
    height: 300px; 
    border-radius: 7px;
  }


  