*{
    box-sizing: border-box;
    
}
html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}
a:link{
    color: #DFAAAE; 
}
a{
    text-decoration: none;
}
a:visited {
    color: #DFAAAE; 
  }

a:active {
    color: black; 
  }

.home-nav-all{
     width: 100vw; 
     height: 28px; 
     left: 27px; 
     top: 134px; 
     position: absolute;
     max-width: 100%
}
/* .home-nav-box{
    left: 34px; 
    top: -45px; 
    position: absolute; 
    justify-content: flex-start; 
    align-items: center; 
    display: inline-flex;
    max-width: 100%
} */
.home-box{
    width: 133px; 
    align-self: stretch; 
    /* justify-content: flex-start; 
    align-items: flex-start;  */
    
    /* display: inline-flex; */
    display:flex;
}
.home-button{
    text-align:left;
    width: 133px; 
    left: 40px;
    top: -56px;
    height: 48px; 
    color: #DFAAAE; 
    font-size: 20px; 
    font-family: Georgia; 
    font-weight: 400; 
    position: relative;
    display: inline-block; 
    justify-content: flex-start; 
    align-items: center; 
    display: inline-flex;
    max-width: 100%
    
}

   
.home-button:hover{
    font-style: italic;
}
/* .line-1{
    width: 1460px;
    height: 0px; 
    left: 0px; 
    top: 34px; 
    position: absolute; 
    
    
}
.line-2{
     width: 1460px; 
     height: 0px; 
     left: 0px; 
     top: 3px; 
     position: absolute; 
     border: 1px black solid;
} */
.title-container{
    left: 75%; 
    top: 23px; 
    position: absolute; 
    justify-content: flex-start; 
    align-items: center; 
    display: inline-flex;
}
.title{
    width: 800px;
    height: 134px; 
    padding-left: 42px;
    color: black; 
    font-size: 32px; 
    font-family: Playfair Display; 
    font-weight: 400; 
   
}
.author{
    width: 239px; 
    height: 50px; 
    right: 30vw;
    top: 206px; 
    position: absolute; 
    color: black; 
    font-size: 24px; 
    font-family: Georgia; 
    font-style: italic; 
    font-weight: 400; 
    word-wrap: break-word;
}
.line-1{
    width: 100vw; 
    height: 0px; 
    left: 0px; 
    top: -20px; 
    position: absolute; 
    border: 1px black solid;
}
.line-2{
     width: 100vw; 
     height: 0px; 
     left: 0px; 
     top: -47px; 
     position: absolute; 
     border: 1px black solid;
     
}
.content-box{
    height: 2105px; 
    width: 600px;
    padding-left: 100px;
    right: -30%; 
    top: 332px; 
    position: absolute; 
    flex-direction: column; 
    /* justify-content: flex-start;  */
    /* align-items: flex-start;  */
    gap: 44px; 
    display: inline-flex;
    scroll-behavior: smooth;
} 


.content{
    align-self: stretch;
    color: black;
    font-size: 20px;
    font-family: Georgia; 
    font-weight: 400;
    word-wrap: break-word;
    /* height: 469px;  */
}


/* 
.footer {
    width: 100%; 
    background-color: #DFAAAE; 
    padding: 20px 0; 
    position: relative; 
    bottom: 0;
}


.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px; 
    margin: auto; 
    flex-wrap: wrap; 
}


.footer-item {
    color: black;
    font-size: 18px;
    font-family: Georgia, serif;
    font-weight: 400;
    text-align: center;
    padding: 10px;
} */

footer {
    z-index: 1000;
    background: #DFAAAE; 
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Georgia;
}
.footer-links a {
    z-index: 1000;
    margin: 0 10px;
    text-decoration: none;
    color: black;
    padding-left: 48px;
    font-size: 20px;
}
.footer-links a:hover{
    font-style: italic;
}
.star {
    font-size: 35px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column; /* Stack items on smaller screens */
        gap: 10px; /* Space between items */
    }
}
.spine {
    position: fixed; 
    top: 0;
    left: 50%; 
    transform: translateX(-50%); 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; 
}

.spine svg {
    height: 100vh;
    width: 2px;
}

.spine-shadow {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%); 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; 
    
}


.spine-shadow svg {
    height: 100vh; 
    width: auto; 
}




/* .spine-shadow {
    position: absolute;
    top: 0; 
    left: 75%; 
    transform: translateX(-50%); 
    height: 100vh; 
   
} */

/* 
.spine {
    position: absolute;
    top: -15px;
    left: 50%; 
    transform: translateX(-50%);
    height: 100vh; 
} */

/* .button-container{
     left: 59px; 
     top: 1069px; 
     position: absolute; 
     justify-content: flex-start; 
     align-items: center; 
     gap: 23px; 
     display: inline-flex;
}
.button-box{
    width: 67px; 
    height: 24px; 
    border-radius: 3px; 
    border: 0.50px black solid;
    
} */
.b-container{
     left: 70px; 
     top: 1073px; 
     position: absolute; 
     display: flex; 
     justify-content: center; 
     align-items: center; 
     gap: 35px; 
}
.b-content{
     
    width: 60px; 
    height: auto; 
    padding-top: 8px;
    padding-bottom: 8px;
    color: black;
    font-size: 14px;
    font-family: Georgia, serif;
    font-weight: 400;
    text-align: center; /* center text inside buttons */
    border: 1px solid black; 
    border-radius: 3px; 
}
.b-content:hover{
    background-color: #DFAAAE;
    cursor: pointer;
}
.text-info{
    width: 260px; 
    height: 100px; 
    left: 38px; 
    top: 820px; 
    position: absolute; 
    color: black; 
    font-size: 14px; 
    font-family: Georgia; 
    font-weight: 400; 
    
}
ul{
    line-height: 15px;
}
.table-contents{
     width: 250px; 
     height: 238px; 
     left: 40px; 
     top: 370px; 
     position: absolute; 
     color: black; 
     font-size: 16px; 
     font-family: Georgia; 
     font-weight: 400; 
     scroll-behavior: smooth;
   
}
h2{
    width: 260px; 
    height: 238px; 
    left: 65px; 
    top: 320px; 
    position: absolute; 
    color: black; 
    font-family: Georgia; 
    font-weight: 400;
    margin-bottom: 10px;
}
.collections-box{
    padding-top: 30px; 
    padding-bottom: 0px; 
    padding-left: 19px; 
    left: 68px; 
    top: 1165px; 
    position: absolute; 
    border-radius: 7px; 
    /* overflow: hidden;  */
    border: 1px black solid; 
    flex-direction: column; 
    justify-content: flex-end; 
    align-items: flex-start;
    display: inline-flex;
}
.c-title{
    width: 280px; 
    height: 58px; 
    color: black; 
    font-size: 25px; 
    font-family: Georgia;
    font-weight: 300;
    font-style: italic;
    
}
.c-content{
    width: 250px; 
    height: 197px; 
    left: 30px;
    color: black; 
    font-size: 14px; 
    font-family: Georgia; 
    font-weight: 400; 
    line-height: 18px;
    
}
.related-text{
     width: 280px; 
     height: 58px; 
     left: 68px; 
     top: 1649px; 
     position: absolute; 
     color: black; 
     font-family: oddity-script, sans-serif;
     font-weight: 300;
     font-style: normal;
     font-size: 40px;
   
}

.related-text-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px; /*space b/w row */
    position: absolute;
    left: 68px; 
    top: 1706px; 
}


.related-text-box {
    display: flex;
    gap: 20px; /* space b/w img */
    
}


.image-container {
    position: relative;
    width: 140px;
    height: 200px;
    overflow:hidden;
}


.image-container img {
    width: 140px;
    height: 200px;
    border-radius: 7px; 
    filter: grayscale(100%); 
    transition: filter 0.3s ease; 
}

.image-container:hover img {
    filter: grayscale(0%); 
    cursor: pointer;
}

/* .star{
    width: 94px; 
    height: 94px; 
    right: 2%;
   
    top: 2630px; 
    position: absolute;
} */

rect:hover {
    fill: #DFAAAE; 
    stroke: 1px #000; 
    transition: fill 0.3s ease, stroke 0.3s ease; 
    cursor: pointer;
  }
  
 
  [data-svg-wrapper]:hover {
    fill: #DFAAAE; 
    stroke: 1px #000; 
    transition: background-color 0.3s ease; 
    cursor: pointer;
  }

 
.home-box {
    position: relative; 
    display: inline-block;
  }
  
  
.home-button {
    font-family: Georgia, serif;
    font-size: 20px;
    color: #DFAAAE;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 5px; 
  }
  
.home-button:hover {
    font-style: italic; 
  }
  
 
.arrow {
    font-size: 12px;
  }
  
 
.dropdown-menu {
    font-family: Georgia, serif;
    display: none; 
    position: absolute;
    top: -22px; 
    left: 40px;
    background-color: #f9f9f9; 
    min-width: 160px; 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1; 
    border-radius: 7px;
  }
  
  
.dropdown-menu a {
    color: black;
    text-decoration: none;
    padding: 12px 16px; 
    display: block; /* stacking */
  }
  
.dropdown-menu a:hover {
    background-color: #DFAAAE; 
    border-radius: 7px;
  }
  
  
.home-box:hover .dropdown-menu {
    display: block; 
    border-radius: 7px;
  }
  